/*General*/
:root {
    --Darkered: rgb(14, 3, 73);
    --Greenier: #898b9e;
}

.centertext {
    text-align: center;
}

body {
    background-color: var(--Darkered,black);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--Greenier);
}

/*Header */
header {
    background-color: transparent;
    color: var(--Greenier, white);
    margin-top: 20px;
 
}

h1 {
    font-weight: bolder;
    font-size: 300%;
}

main {
    color: white;
  
    
}

/*Snippets*/

#snippets {
    display: flex;
    height:85vh;
    flex-wrap: wrap;
    margin: 20px;

}

.snippet {
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    height: 45%;
    border: 1px solid white;
    border-style: dashed;
    position: relative;
    transition: all 5s ease-in-out;
    
}

@media screen and (max-width: 1050px) {
    .snippet {
        width:47%;
        
    }
    
}

@media screen and (max-width: 630px) {
    .snippet {
        width:100%;
        
    }
    
}    

.snippet:hover h2{
    box-shadow: inset 0px 0px 8px yellowgreen, 0px 0px 15px yellowgreen ;
}

section h2 {
    font-weight: bold;
    font-size: 250%;
    border: 1px solid white;
    height: auto;
    margin: 1px 50px;
    padding: 1px;
    position: relative;
    bottom: 10px;
    background: var(--Darkered);
    border-radius: 10px;
    

}

.snippet p {
    font-size: 150%;
    margin: 20px 10px;
}



.snippet pre {
    color: white;
    background: linear-gradient(rgb(71, 70, 75), var(--Greenier));
    margin: 10px auto;
    line-height: 2;
    position: relative;
    top: 10%;
    border-radius: 15px;
    user-select: text;
    text-align: left;
    width: 80%;
}